<div class="container col-8">
  <div class="mb-4 mt-5">
    <h3>会員情報編集</h3>
  </div>
  <%= form_with model: @customer do |f| %>
  <div class ="row d-flex align-items-center">
    <div class="col-md-3 my-2">
      ニックネーム
    </div>
    <div class="col-md-9 my-2">
      <%= f.text_field :nickname,class: "form-control",class:"form-control",placeholder:"1 ~ 15 以内で入力してください" %>
    </div>
  </div>
  <div class ="row">
    <div class="col-md-3 my-2">
      <%= f.label :email,"メールアドレス" %>
    </div>
    <div class="col-md-9 my-2">
      <%= f.email_field :email, autocomplete: "email",class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mt-2">
      <%= f.submit "編集内容を保存",class: 'btn btn-outline-success' %>
    </div>
    <div class="col-md-3 mt-2">
      <%= link_to "退会する", unsubscribe_customer_path,class: 'btn btn-outline-danger' %>
    </div>
  </div>
  <% end %>
</div>
