<div class="container">
  <div class="row mb-3">
    <div class="col-8">
      <h3>マイページ</h3>
    </div>
    <div class="col-4">
      <h3><%= link_to "編集する", edit_customer_path(current_customer),class: 'btn btn-outline-success' %></h3>
    </div>
  </div>
  <div class="row flex-nowrap">
    <div class="col-md-3 border color ">
      <p class= "my-3">ニックネーム</p>
    </div>
    <div class="col-md-9 border text-break">
      <p class= "my-3"><%= @customer.nickname %></p>
    </div>
  </div>
  <div class="row flex-nowrap">
    <div class="col-md-3 border color ">
      <p class= "my-3">性別</p>
    </div>
    <div class="col-md-9 border">
      <p class= "my-3"><%= @customer.gender_i18n %></p>
    </div>
  </div>
  <div class="row flex-nowrap">
    <div class="col-md-3 border color ">
      <p class= "my-3">Email</p>
    </div>
    <div class="col-md-9 border text-break">
      <p class= "my-3"><%= @customer.email %></p>
    </div>
  </div>
  <div class="row flex-nowrap">
    <div class="col-md-3 border color ">
      <p class= "my-3">ベストアンサーに選ばれた回数</p>
    </div>
    <div class="col-md-9 border">
      <p class= "my-3"><%= @best_answer_questions.size %></p>
    </div>
  </div>
</div>

<div class="container mt-5">
  <ul class="nav nav-fill row" role="tablist">
    <li class="nav-item">
      <a class="nav-link <%= @active1 %>" href="<%= customer_path(@customer.id, {tab: 1}) %>" role="tab" aria-selected="<%= !!@active1 %>">お気に入りの質問</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= @active2 %>" href="<%= customer_path(@customer.id, {tab: 2}) %>" role="tab" aria-selected="<%= !!@active2 %>">投稿した質問</a>
    </li>
  </ul>
  <div>
    <div class="tab <%= @active1 %>" role="tabpanel" aria-labelledby="item1-tab">
      <% @favorites.each do |favorite| %>
        <div class="row flex-nowrap">
          <div class="col-md-12 col-sm-12 border py-2 text-break">
            <span class= "small"><%= favorite.question.profession.name %></span></br>
            <%= link_to question_path(favorite.question.id) do %>
              <%= favorite.question.post.truncate(40) %>
            <% end %>
          </div>
        </div>
      <%end%>
      <div class="row">
        <div class="col text-center">
          <%= paginate @favorites, theme: 'twitter-bootstrap-4', params: { tab: 1 } %>
        </div>
      </div>
    </div>
    <div class="tab <%= @active2 %>" role="tabpanel" aria-labelledby="item2-tab">
      <% @questions.each do |question| %>
        <div class="row border d-flex align-items-center">
          <div class="col-md-11 col-sm-11 py-2 text-break">
            <span class= "small"><%= question.profession.name %>
              <% if question.best_answer_id.nil? %>
                ：回答<%= question.answers.count %>件
              <% else %>
                ：解決済み
              <% end %>
            </span></br>
            <%= link_to question_path(question) do %>
              <%= question.post.truncate(40) %>
            <% end %>
          </div>
          <div class="col-md-1 col-sm-1">
            <%= link_to "削除", question_path(question), method: :delete, remote: true, class: "btn btn-sm btn-danger", data: {confirm: "本当に削除しますか？"} %>
          </div>
        </div>
      <%end%>
      <div class="row">
        <div class="col text-center">
          <%= paginate @questions, theme: 'twitter-bootstrap-4',param_name: "question", params: { tab: 2 } %>
        </div>
      </div>
    </div>
  </div>
</div>
