<div class="container">
  <div class="col-12">
    <h3>マイページ</h3>
  </div>
  <div class="row col-md-12 col-ms-7">
    <div class="col-md-4 text-center">
      <h4>登録情報</h4>
    </div>
    <div class="col-md-8 text-right mb-2">
      <%= link_to "編集する", edit_customer_path(current_customer),class: 'btn btn-outline-success' %>
    </div>
  </div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td class="table-dark">
          ニックネーム
        </td>
        <td>
          <%= @customer.nickname %>
        </td>
      </tr>
      <tr>
        <td class="table-dark">性別</td>
        <td>
          <%= @customer.gender %>
        </td>
      </tr>
      <tr>
        <td class="table-dark">Email</td>
        <td>
          <%= @customer.email %>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<div class="container">
  <ul class="nav nav-tabs nav-fill" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">お気に入りの質問</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">投稿した質問</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
      <table class="table col-12">
        <thead class ="table-dark">
          <tr>
            <th>
              <h4>職業</h4>
            </th>
            <th>
              <h4>質問内容</h4>
            </th>
          </tr>
        </thead>
        <% @favorites.each do |favorite| %>
        <tbody>
          <tr>
            <td>
              <%= favorite.question.profession.name %>
            </td>
            <td>
              <%= link_to favorite.question.post,question_path(favorite.question.id) %>
            </td>
          </tr>
        </tbody>
        <%end%>
      </table>
    </div>
    <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
      <table class="table col-12">
        <thead class ="table-dark">
          <tr>
            <th>
              <h4>職業</h4>
            </th>
            <th>
              <h4>質問内容</h4>
            </th>
          </tr>
        </thead>
        <% @questions.each do |question| %>
        <tbody>
          <tr>
            <td>
              <%= question.profession.name %>
            </td>
            <td>
              <%= link_to question.post,question %>
              <%= link_to "Destroy", question_answer_path(question), method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
        </tbody>
        <%end%>
      </table>
    </div>
  </div>
</div>

