<div class="container">
  <div class="row mb-3">
    <div class="col-8">
      <h3>マイページ</h3>
    </div>
    <div class="col-4">
      <h3><%= link_to "編集する", edit_customer_path(current_customer),class: 'btn btn-outline-success' %></h3>
    </div>
  </div>
  <div class="row flex-nowrap">
    <div class="col-md-3 border text-white bg-dark ">
      <p class= "my-3">ニックネーム</p>
    </div>
    <div class="col-md-9 border text-break">
      <p class= "my-3"><%= @customer.nickname %></p>
    </div>
  </div>
  <div class="row flex-nowrap">
    <div class="col-md-3 border text-white bg-dark ">
      <p class= "my-3">性別</p>
    </div>
    <div class="col-md-9 border">
      <p class= "my-3"><%= @customer.gender_i18n %></p>
    </div>
  </div>
  <div class="row flex-nowrap">
    <div class="col-md-3 border text-white bg-dark ">
      <p class= "my-3">Email</p>
    </div>
    <div class="col-md-9 border text-break">
      <p class= "my-3"><%= @customer.email %></p>
    </div>
  </div>
</div>

<div class="container mt-5">
  <ul class="nav nav-fill row" role="tablist">
    <li class="nav-item">
      <a class="nav-link <%= @active1 %>" href="<%= customer_path(@customer.id, {tab: 1}) %>" role="tab" aria-selected="<%= !!@active1 %>">お気に入りの質問</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= @active2 %>" href="<%= customer_path(@customer.id, {tab: 2}) %>" role="tab" aria-selected="<%= !!@active2 %>">投稿した質問</a>
    </li>
  </ul>
    <div>
      <div class="tab <%= @active1 %>" role="tabpanel" aria-labelledby="item1-tab">
        <div class="row flex-nowrap">
          <div class="col-md-3 col-sm-3 text-center text-white bg-dark">
            <p class= "my-3">職業</p>
          </div>
          <div class="col-md-9 col-sm-9 text-center text-white bg-dark">
            <p class= "my-3">質問内容</p>
          </div>
        </div>
        <% @favorites.each do |favorite| %>
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-3 border py-2 text-break">
              <%= favorite.question.profession.name %>
            </div>
            <div class="col-md-9 col-sm-9 border py-2 text-break">
              <%= link_to question_path(favorite.question.id) do %>
                <%= favorite.question.post.truncate(20) %>
              <% end %>
            </div>
          </div>
        <%end%>
        <div class="row">
          <div class="col text-center">
            <%= paginate @favorites, theme: 'twitter-bootstrap-4', params: { tab: 1 } %>
          </div>
        </div>
      </div>
      <div class="tab <%= @active2 %>" role="tabpanel" aria-labelledby="item2-tab">
        <div class="row flex-nowrap">
          <div class="col-md-3 col-sm-3 text-center text-white bg-dark">
            <p class= "my-3">職業</p>
          </div>
          <div class="col-md-9 col-sm-9 text-center text-white bg-dark">
            <p class= "my-3">質問内容</p>
          </div>
        </div>
        <% @questions.each do |question| %>
          <div class="row flex-nowrap">
            <div class="col-md-3 col-sm-3 border py-2 text-break">
              <%= question.profession.name %>
            </div>
            <div class="col-md-8 col-sm-8 border py-2 text-break">
              <%= link_to question_path(question) do %>
                <%= question.post.truncate(20) %>
              <% end %>
            </div>
            <div class="col-md-1 col-sm-1 border py-2">
              <%= link_to "削除", question_path(question), method: :delete, remote: true, class: "btn btn-sm btn-danger", data: {confirm: "本当に削除しますか？"} %>
            </div>
          </div>
        <%end%>
        <div class="row">
          <div class="col text-center">
            <%= paginate @questions, theme: 'twitter-bootstrap-4',param_name: "question", params: { tab: 2 } %>
          </div>
        </div>
      </div>
    </div>
</div>

<style>
 




  .tab {
    display: none; 
    width: 100%;
    padding: 10px;
    cursor: pointer;
  }

  .tab.active { display: block; }
  
  .tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
  }
  
  
  .nav-link.active { 
    color: #FFF;
    background: #19b5d1;
    transition: all 0.2s ease-in-out;
    
  }

</style>