<div class="container">
  <div class="position-relative">
    <div class="h-75 w-100 position-absolute d-flex justify-content-center align-items-end">
      <h4 class="top-title text-white px-5">FUTURECAREER </br>このサイトは転職・入職に向けて学習方法のアドバイスが欲しい時、自分と似たような人の転職例を知りたいなど、様々な使い方ができます。</br>質問投稿・回答は会員登録された方のみ行えます。</h4>
    </div>
    <%= image_tag 'top.jpg', class: 'img-fluid' %>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="row col-md-8 ">
      <div class="col-md-12">
        <%= render "/layouts/search" %></br>
      </div>
      <div class="col-md-12">
        <%= link_to "質問をする" , new_question_path,class: "btn btn-outline-primary btn-block" %></br>
      </div>
      <div class="col-md-12">
        <%= render "/layouts/questions",questions: @questions %>
      </div>
    </div>
    
      <div class="col-md-4">
        <%= render "/layouts/professions",professions: @professions %>
      </div>
    
  </div>
</div>