<div class="container">
  <h3 class="pb-3">Q&A一覧</h3>
  <%= render "layouts/search"%>
  <br>
    <ul class="nav nav-fill row" role="tablist">
      <li class="nav-item">
        <a class="nav-link <%= @active1 %>" href="<%= questions_path(@question, {tab: 1}) %>" role="tab" aria-selected="<%= !!@active1 %>">未解決の質問</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= @active2 %>" href="<%= questions_path(@question, {tab: 2}) %>" role="tab" aria-selected="<%= !!@active2 %>">解決済みの質問</a>
      </li>
    </ul>
    <%= render "/layouts/questions",best_answers: @best_answers, no_best_answers: @no_best_answers, active1: @active1, active2: @active2 %>
  </div>
</div>