<div class="container">
  <table>
    <%= form_with model: @question do |f| %>
      <thead colspan="2">  
        <tr>
          <th class="col-4 table-dark border-top"><%= f.label :profession_id,"ジャンル" %></td>
          <th class="col-4 table-dark border-top"><%= f.select :profession_id, options_from_collection_for_select(Profession.all, :id, :name), {prompt: "選択してください"}, class: "form-control-sm col-10 pl-1" %></td>
      
      </thead>
      <tbody>
        <tr>
          <td colspan="2">
          <%= f.text_area :post, :size=>"90" %>
          <%= f.submit %>
          </td>
        </tr> 
      </tbody>
    <% end %>
  </table>
</div>