<div class="container">
  <h3 class="pb-3">質問する</h3>
  <div class="border py-3">
    <%= form_with model: @question ,method: :post do |f| %>
      <div class="row col-md-12 mb-3">
        <div class="col-md-2 text-center ">
          <%= f.label :profession_id,"職業",class:"h4" %>
        </div>
        <div class="col-md-9">
          <span class= "pr-3">※選択必須</span>
          <%= f.select :profession_id, options_from_collection_for_select(Profession.all, :id, :name, { selected: @question.profession_id }), {prompt: "選択してください"}, class: "form-control-sm pl-1"%>
        </div>
      </div>
      <div class="row col-md-12">
        <div class="col-12">
          <%= f.text_area :post, class: "col-12" ,rows: "12" ,placeholder:"1～400字以内で入力して下さい" %>
        </div>
      </div>
      <div class="row col-md-12 mt-3">
        <div class="col-12 text-right">
          <%= f.submit "送信する", class: "btn btn-sm btn-outline-dark" %>
        </div>
      </div>
    <% end %>
  </div>
</div>