<div class="container">
  <div class="main">
    <table class = "table">
      <thead class ="table-dark">
        <tr>
          <th>質問</th>
        </tr>
      </thead>
      <tbody>
        <tr class ="border">
          <td>
            <%= simple_format(@question.customer.nickname+"さん") %>
            <%= simple_format(@question.post) %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="main">
    <% @question.answers.each do |answer| %>
    <table class = "table">
          <% if answer.question.best_answer_id == answer.id %>
      <thead class ="table-success">
        <tr>
          <td>回答<%= (answer.customer.nickname+"さん""ベストアンサーに選ばれました") %>
          <% else %>
      <thead class ="table-dark">
        <tr>
          <td>回答<%= answer.customer.nickname+"さん" %>
          <% end %>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class ="border">
            <div class="border">
            <%= simple_format(answer.customer.nickname+"さん") %>
            <%= simple_format(answer.answer) %>
            <%= link_to "Destroy", admin_answer_path(answer.id), method: :delete, remote: true, class: "btn btn-sm btn-danger", data: {confirm: "本当に削除しますか？"} %>
            </div>
            <% answer.replies.each do |reply| %>
              <%= simple_format(reply.customer.nickname+"さん") %>
              <%= simple_format(reply.reply) %>
              <%= link_to "Destroy", admin_reply_path(reply.id), method: :delete, remote: true, class: "btn btn-sm btn-danger", data: {confirm: "本当に削除しますか？"} %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>