<div class="container">
  <h3 class="pb-3">検索結果</h3>
  <% unless @questions.exists? %>
    <div class="row my-5">
      <h5>検索結果はありませんでした</5>
    </div>
  <% else %>
    <% @questions.each do |question| %>
      <div class="row flex-nowrap">
        <div class="col-md-12 col-sm-12 border py-2 text-break">
          <span class= "small"><%= question.profession.name %>
            <% if question.best_answer_id.nil? %>
              ：回答件数<%= question.answers.count %>
            <% else %>
              ：解決済み
            <% end %>
          </span></br>
          <%= link_to question_path(question.id) do %>
            <%= question.post.truncate(40) %>
          <% end %>
        </div>
      </div>
    <%end%>
    <div class="row">
    <div class="col text-center">
      <%= paginate @questions, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
  <% end %>
  <%= link_to "戻る",:back %>
</div>
