
<ul class="nav nav-tabs nav-fill row" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">未解決の質問</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">解決済みの質問</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
    <div class="row flex-nowrap">
      <div class="col-md-3 col-sm-3 text-center text-white bg-dark">
        <p class= "my-3">職業</p>
      </div>
      <div class="col-md-9 col-sm-9 text-center text-white bg-dark">
        <p class= "my-3">質問内容</p>
      </div>
    </div>
    <% @best_answers.each do |question| %>
      <div class="row flex-nowrap">
        <div class="col-md-3 col-sm-3 border py-2">
          <%= question.profession.name %>
        </div>
        <div class="col-md-9 col-sm-9 border py-2">
          <%= link_to question_path(question) do %>
            <%= question.post.truncate(20) %>
          <% end %>
        </div>
      </div>
    <%end%>
    <%= paginate @best_answers, theme: 'twitter-bootstrap-4' %>
  </div>
  <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
    <div class="row flex-nowrap">
      <div class="col-md-3 col-sm-3 text-center text-white bg-dark">
        <p class= "my-3">職業</p>
      </div>
      <div class="col-md-9 col-sm-9 text-center text-white bg-dark">
        <p class= "my-3">質問内容</p>
      </div>
    </div>
    <% @no_best_answers.each do |question| %>
      <div class="row flex-nowrap">
        <div class="col-md-3 col-sm-3 border py-2">
          <%= question.profession.name %>
        </div>
        <div class="col-md-9 col-sm-9 border py-2">
          <%= link_to question_path(question) do %>
            <%= question.post.truncate(20) %>
          <% end %>
        </div>
      </div>
    <%end%>
    <div class="row">
      <div class="col text-center">
        <%= paginate @no_best_answers, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>  
  </div>
</div>
